In [1]:
import pandas as pd

In [3]:
# データの読み込み
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')
card_data = pd.read_csv('../data/card.csv')
user_data = pd.read_csv('../data/user.csv')

In [4]:
print(len(train_data))
print(len(test_data))

471283
457958

In [7]:
# データの結合
all_data = pd.concat([train_data, test_data], ignore_index=True)

# card_dataをall_dataに結合
all_data = pd.merge(all_data, card_data, on=['user_id', 'card_id'], how='left')

# user_dataをall_dataに結合
all_data = pd.merge(all_data, user_data, on='user_id', how='left')

all_data.tail()

,index,user_id,card_id,amount,errors?,is_fraud?,merchant_id,merchant_city,merchant_state,zip,...,city,state,zipcode,latitude,longitude,per_capita_income_zipcode,yearly_income_person,total_debt,fico_score,num_credit_cards
929236,929236,1444,1,$28.901,OK,NaN,226313,Kansas City,MO,64124.0,...,Kansas City,MO,64124,39.09,-94.58,$12064,$24598,$23019,695,4
929237,929237,720,2,$84.773,OK,NaN,132248,Philadelphia,PA,19133.0,...,Philadelphia,PA,19133,39.95,-75.16,$10016,$20424,$14743,770,3
929238,929238,1773,1,$111.48,OK,NaN,284589,Gause,TX,77857.0,...,Franklin,TX,77856,31.02,-96.48,$17356,$23082,$23406,638,5
929239,929239,156,1,$12.363,OK,NaN,342384,Myrtle Beach,SC,29579.0,...,Myrtle Beach,SC,29579,33.69,-78.89,$19025,$35270,$1769,731,6
929240,929240,1571,0,$23.709,OK,NaN,260546,ONLINE,NaN,NaN,...,Kokomo,IN,46901,40.47,-86.13,$16794,$34241,$79551,784,2

In [8]:
all_data.columns

Index(['index', 'user_id', 'card_id', 'amount', 'errors?', 'is_fraud?',
       'merchant_id', 'merchant_city', 'merchant_state', 'zip', 'mcc',
       'use_chip', 'card_brand', 'card_type', 'expires', 'has_chip',
       'cards_issued', 'credit_limit', 'acct_open_date',
       'year_pin_last_changed', 'current_age', 'retirement_age', 'birth_year',
       'birth_month', 'gender', 'address', 'city', 'state', 'zipcode',
       'latitude', 'longitude', 'per_capita_income_zipcode',
       'yearly_income_person', 'total_debt', 'fico_score', 'num_credit_cards'],
      dtype='object')

In [9]:
all_data.to_csv('../data/all_data.csv', index=False)